body{}
h1{color:white}
p{color: white}
a{color:red}

portrait {
    width: 40%;
    max-width: =50px;
    
}

#mybox{
	width: 100%;
	height: 100px;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

}
#textbox{

    width:100%;
    height: auto;
    text-align: center;
    font-size: 95px;
    font-weight: bold;
    font-family: Helvetica;
    vertical-align: middle;
}
#navbox{
    margin-top: 10px;
    width:auto;
    height: 22px;
    background-color: cornflowerblue;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    border-right: 1px solid white;
}
li a {
    display: block;
    color: white;
    text-align: center;
    width:200px;
    height: 22px;
    text-decoration: none;
}
li a:hover{
    background-color: darkblue;
}

DIV.zentrieren{
    vertical-align: middle;
    text-align: center;
        align-items: center;
        vertical-align: middle;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    
    
}

label{
    width: 180px;
    display: block;
    float: left;
}
select{
    width: 80px;
    border: 1px solid black;
}