body{background-image: url(Hintergrund/hintergrund_bright.jpg)}
h1{color:orangered}
p{color: black}

.blau{color: orangered}
.white{color: orangered}
.breite{max-width: 1100px}
.namen{color:orangered; font-size: 1.5em; margin-bottom: 6px;}
/*
html,body{
    padding: 0;
    margin: 0;
}
*/

.bildbeschriftung{
    margin: 0;
}

@media (min-device-width: 800px){
    body{
        max-width:1100px;
        margin-left: auto;
        margin-right: auto;
        padding-left:3px;
        padding-right: 3px;
    } 
}


portrait {
    width: 40%;
    max-width: =50px;
    
}

.headerbox{
    background-image: url("Hintergrund/hintergrund_1_dark.jpg");
    width: 100%;
    height: 100px;
    /*background-color: black;*/
    text-align: center;
    line-height: 120px;
    font-size: 95px;
    font-weight: bold;
    font-family: Helvetica;
}

.navbox{
    background-image: url("Hintergrund/hintergrund_1_dark.jpg");
    margin-top: 10px;
    width:auto;
    height: 22px;
    /*background-color: black;*/
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    border-right: 2px solid grey;
}
li a {
    display: block;
    color: orangered;
    font-size: 20px;
    text-align: center;
    width:200px;
    height: 22px;
    text-decoration: none;
}
li a:hover{
    color: white;
    background-color: orangered;
}

@media (max-device-width: 800px){
    .headerbox{
        background-image: url("Hintergrund/hintergrund_1_dark.jpg");
        width: 100%;
        height: 150px;
        /*background-color: black;*/
        text-align: center;
        line-height: 180px;
        font-size: 140px;
        font-weight: bold;
        font-family: Helvetica;
    }

    .navbox{
        background-image: url("Hintergrund/hintergrund_1_dark.jpg");
        margin-top: 20px;
        width:auto;
        height: 50px;
        /*background-color: black;*/
}
    .menu{
        display: flex;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}
    li{
        float: left;
        border-right: 2px solid grey;
        display: inline;
        width: 25%
}
    li a {
        display: block;
        color: orangered;
        font-size: 45px;
        text-align: center;
        line-height: 50px;
        width:200px;
        height: 50px;
        text-decoration: none;
        width: 100%;
    }
    li a:hover{
        color: white;
        background-color: orangered;
    }
}


}

.figuren{
    padding-left: 0px;
    max-width: 850px;
    margin-bottom: 10px;
    max-width: 850px;

}

.bilderlinks{
    float:left;
    margin-right: 10px;
}

.setclear{
    margin-top: 20px;
    max-width: 800px;
}
@media (max-device-width: 800px){
    .setclear{
        margin-top: 70px;
        max-width: 85%
    }   
}

.setclear:after{
    
    content:"";
    display: table;
    clear: both;
}


label{
    width: 180px;
    display: block;
    float: left;
}
select{
    width: 80px;
    border: 1px solid black;
}




}
